// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$navy: #110133;
$teal: #00918e;
$turquoise: #4dd599;
$yellowish: #ffdc34;
$redish: #DC143C;
$gray: #0E0000;
$light-gray: #F4F4F4;
