img {
  width: 100%;
  height: auto;
}

.banner.cocktail {
  background: white;
  padding-left: 40px;
  padding-top:  30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.banner h1 {
  color: $turquoise;
}

h2 {
  color: $navy;
  font-size: 26px;
}

.spacer10 {
  height: 10px;
}

.banner {
  width: 100%;
  margin-top: 10px;
  text-align: left;
}

.ingredients {
  margin-left: 20px;
  color: $navy;
}

.edit {
  color: $turquoise;
}

.back {
  color: $yellowish;
}

.return {
  color: $teal;
}

.banner.links {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
