.navbar {
  background-color: #0e0226;
  border-bottom: 0.3px solid #f4f4f48f;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.navbar-brand {
  font-family: Righteous;
  color: $yellowish;
  font-size: 36px;
}

.navbar a.navbar-brand:hover {
  color: $yellowish;
  opacity: 0.9;
}
